@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.Toastify__toast {
  background: #444 !important;
  border-radius: 4px !important;
  box-shadow: 0px 2px 2px 2px #e0e0e0 !important;
  display: flex !important;
  justify-content: center;
  width: 80%;
  font-family: 'Poppins', sans-serif !important;
  font-size: .9rem !important;
  color: #fff !important;
  text-align: left !important;
  padding: 1rem 2rem !important;
  line-height: 1.4rem !important;
  margin-right: 1rem;
}

.Toastify__close-button {
  display: none !important;
}

.Toastify__toast-container--bottom-right {
  bottom: .5rem !important;
  right: -3rem !important; 
}