@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: #000;
  background: #fafafa !important;
}

/* .interests {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    height: 10rem;
} */


.selected {
  color:black;
}
