@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: #000;
  background: #f0f0f0 !important;
}

.card {
  box-shadow: 0px 2px 2px 2px #e0e0e0 !important;
  border-radius: 10px !important;
  color: #222;
}

.card-top {
  margin-top: .5rem;
  display: flex;
  justify-content: flex-end;
}

.card-title {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}

.card-link {
  text-decoration: none !important;
}

.event-info {
  margin-top: -2rem;
  font-size: 0.75rem;
  letter-spacing: .3px;
  font-weight: 400;
  color: #606060;
  display: flex;
  flex-direction: column;
}

.people-going {
  font-size: 0.8rem;
  font-weight:600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar-img {
  height: 2rem;
}

.event-list-item {
  display: flex !important;
  justify-content: flex-end !important;
}

.event-cancelled {
  display: flex;
  align-items: center;
}

.cross-icon {
  font-size: .65rem;
  margin-right: .3rem;
}

.cancelled-date {
  text-decoration: line-through;
}

.event-form-container {
  width: 60% !important;
  margin-bottom: 8rem;
}

.event-form-heading {
  margin-bottom: 3rem;
  font-weight: 600;
  color: #222;
}

.form-btns {
  display: flex;
  justify-content: flex-end;
}

.event-details-top {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 8rem 2rem 2rem 2rem;
  width: 100%;
  margin: 0 auto;
}


.event-details.container {
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.event-details-top-h1 {
  font-weight: 600;
  padding-bottom: 1.4rem;
  color: #222;
}

.event-details-top-h5 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #1769FF;
}

.event-details-top-h6 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.event-details-top-host {
  display: flex;
  align-items: center;
}

.event-details-top-host img {
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

.event-details-information {
  margin-top: 6rem;
}

.event-details-card {
  margin-top: -1.45rem;
}


.event-details-img {
  width: 90%;
}

.event-details-info {
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px 2px #e0e0e0 !important;
  border-radius: 4px !important;
  padding: 1rem;
}

.event-details-info.__people-going {
  margin-top: 2rem ;
}

.event-details-heading {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
}

.no-attendees {
  font-weight: 600;
  font-size: .8rem;
  margin-left: .4rem;
}

.event-details-attendees {
  display: flex;
  flex-wrap: wrap;
}

.attendee-card {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
}

.attendee-card-img {
  height: 30px;
  border-radius: 50%;
}

.attendee-card-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.event-info-panel {
  background: #fff;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 2px #e0e0e0 !important;
  font-size: .8rem;
}

.event-info-panel-heading {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.map {
  margin-top: 2rem;
  padding: 0;
}

.google-btn a:hover {
  text-decoration: none;
}

.interests {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    height: 10rem;
}

.loading-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color:black;
}
