body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  font-size: 62.5%;
  color: #666;
}

.navbar {
  font-weight: 600;
  font-size: .8rem;
  background-color: #fff !important;
  box-shadow: 1px 2px 3px #eee;
}

.avatar-img {
  height: 30px;
  width: 30px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.auth-form {
  margin-top: 4rem;
  padding: 2rem;
}

.auth-header {
  padding-bottom: 2rem;
  color: #484848;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
  color: #484848;
  letter-spacing: .06rem;
}

.m-right {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}